.card {
  .card-content {
    .card-title {
      margin-bottom: 2rem;
    }
    ul {
      li {
        margin-bottom: .5rem;
      }
    }
  }
  &-tabs {
    .active {
      font-weight: bold;
    }
  }
  &-action {}
}

.card-content {
  .room {
    margin: 0px 0px 25px 0px;
    position: relative;
    li {
      color: #000;
      &.name {
        color: #f57c00
      }
    }
  }
}

.card-action {
  height: 55px;
}

a {
  cursor: pointer;
}
